/*Diseño general*/
* {

	padding: 0px;
	margin: 0px;
	font-family: 'League Spartan', sans-serif;
}



.logoImg {

	width: 100px;
	height: 100px;
}



.nav-link {

	font-size: 30px;
	color: black;
}


h2{

	display: flex;
	justify-content: center;
	align-self: items: center;
	padding: 80px;
}

/* FOOTER */

footer{
	background-color: gray;

}